body {
    margin: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(67, 34, 120), rgb(88, 40, 110));
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

#box {
    width: 315px;
    height: 315px;
    background-image: linear-gradient(144deg, #b95cfb, #5B42F3 50%,#00DDEB);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000005d;
}

img {
    width: 94%;
    height: 94%;
    object-fit: cover;
    border-radius: 8px;
}

#tittle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffff;
    text-shadow: 5px 5px 10px #0000005d;
    font-size: 45px;
}

#button {
  align-items: center;
  background-image: linear-gradient(144deg,#b95cfb, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #0000005d;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;

  padding: 4px;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

#button:active,
#button:hover {
  outline: 0;
}

#button span {
  background-color: rgb(13, 14, 53);
  padding: 10px;
  border-radius: 8px;
  height: 20px;
  width: 90px;
  transition: 300ms;
}

#button:hover span {
  background: none;
  color: rgb(6, 6, 26);
}

#loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #d97cbd;
  height: 15%;
  width: 15%;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg);}
}